In [2]:
# 用arima模型测试时间序列模型
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import acf,pacf,plot_acf,plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.api import tsa
%matplotlib inline

In [3]:
f = pd.read_csv('/Users/jiaoxubin/Desktop/Purchase-Redemption-Data/user_balance_table.csv',parse_dates=['report_date'])
f[:1000:100]

,user_id,report_date,tBalance,yBalance,total_purchase_amt,direct_purchase_amt,purchase_bal_amt,purchase_bank_amt,total_redeem_amt,consume_amt,transfer_amt,tftobal_amt,tftocard_amt,share_amt,category1,category2,category3,category4
0,1,2014-08-05,20385,20383,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
100,1,2014-04-10,20151,20149,2,0,0,0,0,0,0,0,0,2,NaN,NaN,NaN,NaN
200,6,2014-08-20,1236,1236,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
300,8,2014-08-19,107947,0,107947,107947,0,107947,0,0,0,0,0,0,NaN,NaN,NaN,NaN
400,11,2014-08-31,1071728,1101956,123,0,0,0,30351,0,30351,0,30351,123,NaN,NaN,NaN,NaN
500,11,2014-05-03,50849,50843,6,0,0,0,0,0,0,0,0,6,NaN,NaN,NaN,NaN
600,23,2014-05-18,1034433,1034301,132,0,0,0,0,0,0,0,0,132,NaN,NaN,NaN,NaN
700,23,2014-03-11,8163583,8180394,305,0,0,0,17116,0,17116,17116,0,305,NaN,NaN,NaN,NaN
800,27,2014-07-02,1999267,1999040,227,0,0,0,0,0,0,0,0,227,NaN,NaN,NaN,NaN
900,27,2014-06-16,1995541,1995291,250,0,0,0,0,0,0,0,0,250,NaN,NaN,NaN,NaN