In [1]:
import pandas as pd

### 1. 批量读取多个Excel表

In [2]:
df_list = pd.read_excel("采购表.xlsx", sheet_name=None, parse_dates=False)

In [3]:
df_list['1月'].head(3)

        采购日期 采购物品 采购数量  采购金额
0 2018-01-06  投影仪   5台  2000
1 2018-01-10  马克笔   5盒   300
2 2018-01-15  打印机   1台   298

In [4]:
df_list['2月'].head(3)

        采购日期  采购物品 采购数量  采购金额
0 2018-02-02   文件柜   3个   500
1 2018-02-04  超市货架   4个   560
2 2018-02-06    胶带   5卷    40

### 2. 合并多个工作表到1个

In [5]:
df_all = pd.concat(df_list.values())

In [6]:
df_all.shape

(66, 4)

In [8]:
df_all.sample(3)  ##随机选取若干行

         采购日期 采购物品 采购数量  采购金额
2  2018-01-15  打印机   1台   298
12 2018-02-26  文件柜   5个   700
0  2018-05-05  点钞机   1台   349

In [9]:
df_all.dtypes

采购日期    datetime64[ns]
采购物品            object
采购数量            object
采购金额             int64
dtype: object

### 3. 按采购物品分组写出到不同的工作表

In [10]:
excel_writer = pd.ExcelWriter(
    '采购表-按采购物品.xlsx', datetime_format="YYYY-MM-DD")

In [11]:
for product, df in df_all.groupby("采购物品"):
    df.to_excel(excel_writer, product, index=False)

In [12]:
excel_writer.save()